.reviews-section {
    /* Styles for the reviews section */
    color: white;
    display: flex; /* Adjustments may be needed for the carousel functionality */
    justify-content: center;
    padding: 20px;
    gap: 20px; /* Space between the review cards */
    overflow: hidden; /* Prevents horizontal scrollbar */
    position: relative;

  }
  
  .review-header {
    /* Styles for the header of the review */
  }
  
.profile-details {
  display: block;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: white;
  font-size: 14px;
  line-height: 1.4em;
}

.name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 
.date {
  font-size: 11.2px;
  opacity: 0.5;
}

.stars {
  display: block;
  margin-bottom: 6px;
  margin-top: 15px;
  text-align: left;
}
.star{
  background-image: url("https://cdn.trustindex.io/assets/platform/Google/star/f.svg") !important;
  width: 17px; height: 17px;
  display: inline-block;
  margin: 0;
  margin-right: 1px;
  background-size: contain;
  background-repeat: no-repeat;
}

.review-content-h {
  margin-top: 10px;
  max-height: 100px;
  overflow: hidden;
  position: relative;
 background-color: #222222;
  border: 2px solid #222222;
  border-radius: 4px;
  display: block;
  padding: 20px 20px 50px 20px;
  
  backdrop-filter: blur(0px);
  font-size: 14px;
  line-height: 1.4em;
}

.read-more {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #333, transparent);
  padding: 10px 0;
  cursor: pointer;
  color:white; /* Gold color for 'Read more' link */
  
}

/* Add styles for the star ratings */
.star {
  color: #FFD700; /* Gold color for stars */
  /* More styles for the stars */
}
  .review-item {
    background-color: #000; /* Dark background for the card */
    color: #fff; /* White text color */
    padding: 20px;
    width: 300px; /* Fixed width, adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    border-radius: 10px; /* Rounded corners for the card */
    transition: transform 0.3s ease;
    position: relative; /* For positioning 'Read more' link absolutely */
  }
  .review-item.raised {
    transform: translateY(-5px); /* Adjust the value for the raise effect */
  }
  .review-item:hover {
    transform: translateY(-5px); /* Raise effect on hover */
  }
  
  .review-content.collapsed {
    /* Limit height and show ellipsis or fade out */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .review-content.expanded {
    /* Full content */
  }
  
  .review-content-h.expanded {
    /* Full content */
    max-height: fit-content;
  }

  .review-arrow {
    font-size: 44px;
    transform: translateY(45%);
    /* Add styling for size, color, etc. */
    cursor: pointer;
  }
  
  .review-arrow.prev {
    left: -30px; /* Adjust as necessary */
  }
  
  .review-arrow.next {
    right: -30px; /* Adjust as necessary */
  }
  .review-controls {
  }
  .overall-rating {
    align-items: center;
    text-align: center;
    color: white;
    font-size: 0.9em; /* Adjust font size as needed */
    /* Add any other styles to match your design */
  }