.navbar {
  background-color: #1d1d1d;
  width: 100%;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* Hide navbar on screens smaller than 768px */
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}
/* Tablet specific styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    /* Tablet styles */
  }
}
/* Desktop specific styles */
@media (min-width: 1025px) {
  .navbar {
    /* Desktop styles */
  }
}

.nav {
  background-color: #1d1d1d;
  position: relative;
  z-index: 2;
  flex-direction: initial;
  flex-wrap: initial;
  box-sizing: border-box;
  justify-content: initial;
  align-self: initial;
  text-transform: uppercase;
  font-family: "Titillium Web";
  font-weight: 700;
}
.container {
  min-height: 80px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 44px;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-links:hover{
  color: #CE4B2C;
}
.nav-links {
  color: white;
  text-decoration: none;
  padding: 0 8px;
  font-family: "Titillium Web";
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  height: 100%;
}
.nav-spacer {
  flex: 1;
}
