.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000; 
    color: #fff;
  }
  .footer-left {
position: relative;
min-height: 1px;
display: flex;
flex-basis: 30%;
  }
  

.footer-right {
    flex-basis: 30%; 
    text-align: center; 
  }
  @media (min-width: 768px) {
    .footer-left{
        width: 33%;
    }
  }
  .footer-column {
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;    
  }
  .footer-image {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .image {
    width: 20%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    
  }
  .social-item {
    color: #fff;
    width: 1em;
    height: 1em;
    display: inline-block;
    justify-content: space-evenly;
    position: relative;
    font-weight: 400;
    padding: 0 10px;
  }
  .social-item a {
    color:  white;
    text-decoration: none;
  }
  .social-item a:hover {
    color: #CE4B2C;
  }
  .footer-socials {
    display: flex;
    justify-content: space-around;
  }
  .footer-center {
    position: relative;
    min-height: 1px;
      }
  .footer-address {
    text-align: center;
    flex-basis: 40%; 
  }  
  .footer-address h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Titillium Web";
    line-height: 1;
  }

  .link {
        color: white;
        text-decoration: none;
        padding: 0 8px;
        font-family: 'Titillium Web';
        font-Weight: 700;
        text-Transform: uppercase;
        align-Items: center;
        display:block;
        height: 100%;
  }
  .link:hover {
    color: #CE4B2C;
  }
  .footer-links {
    /* Adjust the link list styling */
    display: block;
    padding: 0;
    margin: 0;
  }
  .button {
    background-color: #CE4B2C;
    text-transform: uppercase;
    font-family: "Titillium Web";
    font-size: 19px;
    font-weight: 700;
    border-radius: 10px;
    margin: 20px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
  }
  ul {
    padding-inline-start: 0;
  }
  li {
    margin-left: 0;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  li:hover{
    color: #CE4B2C;
  }
  /* Responsive behavior */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-socials, .footer-links {
      margin-bottom: 20px;
    }
  }
  