
#schedule {
    width: 100%;
    bottom: 0;
    background-color: #1d1d1d;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  
  }
.schedule-column {
    flex: 1;
    justify-content: space-between;
    width: 100%;
}
.schedule-gap {}
.schedule-widget-wrap {}
.schedule-widget {}
.schedule-widget-container {}
.schedule-icon-wrapper {}
.schedule-icon {}
.schedule-widget-heading {}
.info-section {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.info-item .info-icon-behind {
  position: absolute;
  z-index: 0; /* Place it behind the text */
  font-size: 100px; /* Adjust size as needed */
  font-weight: 600;
  color: #54595F75; /* Color of the icon */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the icon */
  opacity: 0.4; /* Adjust opacity as needed */
}

.info-item {
      position: relative;
      margin-bottom: 20px;
      margin-top: 10px;
      width: 30%     ;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
  
  
  .info-title {
    color: #CE4B2C;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
  }
  
  .info-text {
    margin: 0;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
 .info-text a {
    text-decoration: none;
    box-shadow:  none;
    font-size: 20px;
  }
  